.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }

*{
  margin: 0px;
  padding: 0px;
}

/* color+border+background */

.light-blue{
  box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.light-green{
  box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
}
.light-yellow{
  box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
}

.vision-btn-blue{
  border-radius: 8px;

background: rgb(84, 144, 245);
}

.vision-btn-green{
  border-radius: 8px;

background: rgb(9, 161, 92);
}

.vision-btn-yellow{
  border-radius: 8px;

background: rgb(255, 194, 57);
}





  .navbar{
    display: flex;
    flex-direction: row;
    /* justify-content:space-between; */
    justify-content: space-between;
    padding: 24px 140px 24px 140px;
  }
  .signin{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;

    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

  }

  .logo-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
  }
  /* banner part style */

  .banner-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* padding: 80px 100px 80px 100px; */

    width: 1280px;
    height: 560px;

    /* margin-top: 120px;
    margin-left: 160px;
    margin-right: 160px; */
    
    margin: 20px auto;

    border-radius: 24px;
    background: rgb(198, 228, 214);
  }
  .banner-content{
    width: 622px;
    height: 326px;

    /* margin-top: 117px;
    margin-bottom: 117px; */
    margin-left: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }

  .titleone{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  .titletwo{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;
  }

  .banner-btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

    margin-top: 24px;
    padding: 17px 34px 17px 34px;
  }


  /* main style */

  main{
    max-width: 1280px;
    margin: 0px auto;
  }
  main section{
    margin-top: 80px;
  }

  .pillar-section-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
  }
    .pillar-container{
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
    .pillars{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 24px;

      box-sizing: border-box;
      border: 1px solid rgba(14, 14, 14, 0.15);
      border-radius: 16px;

      background: rgb(255, 255, 255);
    }

    .pillar-title{
      margin-top: 33px;
      margin-bottom: 12px;
    }

    .pillar-description{
      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
    }

    .vision-section-title{
      display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    }

    .vision-section-info{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 32px;

      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;
    }

    .vision-container{
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .visions{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 32px;
    }
    .vision-title{
      margin-top: 25px;
      margin-bottom: 12px;
    }

    .vision-description{
      color: rgba(14, 14, 14, 0.7);
      font-family: Fira Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;

      margin-bottom: 24px;
    }

    .vision-btn{
      display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 20px 11px 20px;
border: none;


      color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;


    }

    .quote-container{
      display: flex;
justify-content: flex-start;
align-items: flex-start;
padding: 48px 24px 48px 24px;

box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);


    }

    .quote-text{
      color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
/* margin: 0px; */
    }

    .quote-icon img {
      width: 40px;
      height: 40px;
      opacity: 0.3;
      background: linear-gradient(0,0,0);
  }